/* body and html */

html, body {
	font-family: Tahoma;
	background-color: white;
	margin: 0;
	padding: 0;
}

/* header properties */

.header {
  overflow: hidden;
  background-color: #AC0000;
  padding: 12px 6px;
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}

.header-right {
  float: right;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 12px;
  font-size: 24px;
  line-height: 25px;
  border-radius: 16px;
  transition: all 0.5s 0s ease;
}

.header .titletext {
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: #AC0000;
}

.header a:active {
  background-color: white;
  color: #AC0000;
}

/* my photo properties */

.myphoto {
  border-radius: 50%;
  transition: transform .3s;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.44);
  border: 7px solid black;
  position: fixed;
  left: 60px;
  top: 155px;
  width: 350px;
  height: 350px;
}

.myphoto:hover {
  transform: scale(1.1);
}

/* mainright properties */

.mainright {
  background-color: #AC0000;
  color: white;
  border-radius: 18px 18px 18px 18px;
  position: absolute;
  width: 750px;
  height: 350px;
  float: right;
  right: 75px;
  top: 150px;
  padding: 5px;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.exptext {
  padding: 7px;
  font-size: 22px;
}

.ttext {
  text-align: center;
}

/* footer properties */

.footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 2px;
  background-color: #AC0000;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 18px;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
}

.linkprev {
  text-decoration: none;
  color: white;
}

.linkprev:hover {
  background-color: white;
  color: #AC0000;
  border-radius: 6px;
  transition: 0.5s 0s ease;
  padding: 2px;
}

